WcfServiceTestApplication/Service References/InterestRateCalcService/service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/InterestRateCalcService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/InterestRateCalcService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCustomer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Customer" nillable="true" type="tns:Customer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomer" nillable="true" type="tns:ArrayOfCustomer" />
  <xs:complexType name="Customer">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonalId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Customer" nillable="true" type="tns:Customer" />
  <xs:complexType name="ArrayOfAgreement">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Agreement" nillable="true" type="tns:Agreement" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAgreement" nillable="true" type="tns:ArrayOfAgreement" />
  <xs:complexType name="Agreement">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:int" />
      <xs:element minOccurs="0" name="BaseRateCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Duration" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Margin" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Agreement" nillable="true" type="tns:Agreement" />
  <xs:complexType name="UpdateReport">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentBaseRateCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrentInterestRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="CustomerAgreementDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Difference" type="xs:decimal" />
      <xs:element minOccurs="0" name="NewBaseRateCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NewInterestRate" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateReport" nillable="true" type="tns:UpdateReport" />
</xs:schema>