WcfServiceTestApplication/Service References/InterestRateCalcService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://maksimz-001-site1.gtempurl.com/service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService" />
  <xs:element name="ItWorks">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="a" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ItWorksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ItWorksResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="personalId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="GetCustomerResult" nillable="true" type="q1:SebCustomer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>